.sec3{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 47vh; */
    background-image: url("../../assets//sec3_img.jpg");
    background-attachment: fixed;
    /* align-items: center;
    justify-content: center; */
}
.overlay{
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}
.sec3_part1{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:60px;color: white;
    padding-top: 30px;
   
}
.sec3_heading{
    font-size: 30px;
}
.sec3_part12{
    width:35%;
    font-size:13px;
}
.sec3_part2{
    display: flex;
    width: 100%;gap:8%;
    justify-content: center;
    color: white;
    /* padding-bottom:5%; */
}
.sec3_part21{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec3_part21 p{
    font-size: 150px;
    color:white;
    opacity: 0.5;
}
.sec3_part22{
    display: flex;
    align-items: center;
    gap:50px;
}
.sec3_part22 h1{
    font-size: 40px;
}
.lineon2{
    width:150px;
    height: 5px;
    background-color: white;
    position: relative;
    top:35%;left:20px;
    
}
.lineon22{
    width:120px;
    height: 2px;
    background-color: white;
    opacity: 0.5;
    position: relative;
    top:40%;left:55px;
}