.sec2{
    display: flex;
    gap:2%; 
    width: 100%;
    height: 100%;
    justify-content: center;
    padding: 10% 15%;
}
.sec2_img{
    width: 35%;
    height:50%;
}


.sec2_content{
    display: flex;
    flex-direction:column;
    width:90%;
    height:100%;
    gap:15px;
}
.sec2_p{
    font-size: 0.8rem;
}
.sec2_title{
    font-size: 2.5rem;
}
.bold{
    font-weight:550;
}

.Boldline{
    background-color: rgb(35, 35, 74);
    width: 100px;
    height:10px;
}
.line_content{
    display: flex;
    gap:15px;
}
.line_c{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.line{
    background-color:navy;
    width:40px;height:1px;
}

.process{
    font-size: 25px;
    font-weight:700;
}

.sec2_button{
    background-color: black;
    padding: 15px 25px;
    color: white;
    width: 250px;
    cursor: pointer;
}

.one0{
    position: relative;
    font-size: 150px;
    font-weight: 800;
    color: rgba(141, 139, 139, 0.6);
    left:90%;
}